*.dump
*.log
*log*
*.restart
*.png
output/*
output-save/*
output-farm/*
neb-out/*
sandbox/*
*.data
density-matching/*
MD-Analyze/*
andrew-methods/*
*.in
andrew-1900-4-6.txt
*.zip
data/zeke/*
*.csv
*.svg
*.dat
*.bonds
*.txt
