*.dump
*.log
*log*
*.restart
*.png
output/*
output-save/*
output-farm/*
neb-out/analysis-images/*
neb-out/convergence_testing/*
neb-out/hydrogen_project/*
neb-out/oxygen_project/*
sandbox/*
*.dat
*.data
data/*
density-matching/*
MD-Analyze/*
andrew-methods/*
*.in
andrew-1900-4-6.txt
*.zip


*.svg

*.bonds
*.txt
*COLVAR
*HILLS
*out
__pycache__/*
py/__pycache__/*
plumed*
testing_reax/*
qe/*